# Metadata
---
`AT` per-Sol atmospheric temperature sensor summary data

`HWS` per-Sol horizontal wind speed sensor summary data

`PRE` per-Sol atmospheric pressure sensor summary data

`WD` per-Sol wind direction sensor summary data

`Season` per-Sol season on Mars; one of [“winter”, “spring”, “summer”, “fall”]

`First_UTC` Time of first datum, of any sensor, for the Sol (UTC; YYYY-MM-DDTHH:MM:SSZ)

`Last_UTC` Time of last datum, of any sensor, for the Sol (UTC; YYYY-MM-DDTHH:MM:SSZ)

`av` Average of samples over the Sol (°F for AT; m/s for HWS; Pa for PRE)

`ct` Total number of recorded samples over the Sol

`mn` Minimum data sample over the sol (same units as av)

`mx` Maximum data sample over the sol (same units as av)


[more](https://api.nasa.gov/assets/insight/InSight%20Weather%20API%20Documentation.pdf)

---

In [1]:
import requests, json, os, warnings, re
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
domain = "https://api.nasa.gov" # The domain name
request_contributors = "/insight_weather/?api_key=hecLCNM6NcwAGgGGWSW2xovr0SyYuXiOShVw6GxS&feedtype=json&ver=1.0" # our request

response = requests.get(domain + request_contributors)

print("Status: {} - {}".format(response.status_code, response.reason))

Status: 200 - OK

In [3]:
# one sol = 1 week on Mars
mars = response.json()
mars["sol_keys"]

['401', '402', '403', '404', '405', '406', '407']

In [4]:
# data for one sol
pd.DataFrame(mars['401'])

,AT,First_UTC,Last_UTC,PRE,Season,WD
av,-64.817,2020-01-12T05:45:23Z,2020-01-13T06:24:58Z,638.2890,summer,NaN
ct,256524.000,2020-01-12T05:45:23Z,2020-01-13T06:24:58Z,128275.0000,summer,NaN
mn,-100.244,2020-01-12T05:45:23Z,2020-01-13T06:24:58Z,620.7624,summer,NaN
mx,-16.968,2020-01-12T05:45:23Z,2020-01-13T06:24:58Z,653.2515,summer,NaN
most_common,NaN,2020-01-12T05:45:23Z,2020-01-13T06:24:58Z,NaN,summer,NaN

In [5]:
# wind direction data for one sol
pd.DataFrame(mars['407']['WD'])

,0,1,10,11,12,13,14,15,2,3,5,6,7,8,9,most_common
compass_degrees,0,22.5,225,247.5,270,292.5,315,337.5,45,67.5,112.5,135,157.5,180,202.5,202.5
compass_point,N,NNE,SW,WSW,W,WNW,NW,NNW,NE,ENE,ESE,SE,SSE,S,SSW,SSW
compass_right,0,0.382683,-0.707107,-0.92388,-1,-0.92388,-0.707107,-0.382683,0.707107,0.92388,0.92388,0.707107,0.382683,0,-0.382683,-0.382683
compass_up,1,0.92388,-0.707107,-0.382683,-0,0.382683,0.707107,0.92388,0.707107,0.382683,-0.382683,-0.707107,-0.92388,-1,-0.92388,-0.92388
ct,18,44,9506,5911,6305,13433,425,23,514,1721,3022,9321,14844,14681,16909,16909